<form>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="formatdata">
                Name: <input type="text" class="Form-Control" placeholder="">
            </div>
            <div class="mt-2 formatdata">
                Domain: <input type="text" class="Form-Control" placeholder="">
            </div>
            <div class="mt-2 formatdata" style="margin-right: 53px;">
                <span>Gender:</span> <input type="radio"> Male
                <input type="radio"> Female
            </div>
            <div class="mt-2 formatdata">
                <span class="formatdata"> DOB:</span>
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="formatdata">
                Phone No: <input type="text" class="Form-Control" placeholder="">
            </div>

            <div class="mt-2 locationdata">
                <div style="padding-right:10px">Location : </div>
                <div>
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
</form>